body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #555555;
}
h3{
    margin: 4px 0 10px 0;
}
.all{
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}
.form-label{
    padding: 4px 0;
}
.form-input{
    position: relative;
}
.form-input input[type="text"],
.form-input input[type="number"],
.form-input input[type="password"], 
.form-input input[type="ipaddress"], 
.form-input select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
    border-radius: 3px;
    border:1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin-bottom: 2px;
}
.form-input input[type="ipaddress"].invalid-ip{
    border:1px solid #CC0000;
}
.form-input input[type="text"]:focus,
.form-input input[type="number"]:focus,
.form-input input[type="password"]:focus,
.form-input input[type="ipaddress"]:focus,
.form-input select:focus{
    outline: none;
}
.btn
{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
    border-radius: 3px;
    border:1px solid #bdbcbc;
    background-color: #c7c6c6;
    color: #333333;
    margin: 8px 0;
}

.btn-success{
    color: #FFFFFF;
    border:1px solid #46992d;
    background-color: #419129;
}

.btn-primary{
    color: #FFFFFF;
    border:1px solid #2d5899;
    background-color: #3464ac;
}
.btn-warning{
    color: #212529;
    border:1px solid #ffc107;;
    background-color: #ffc107;
}
.btn-danger{
    color: #FFFFFF;
    border:1px solid #dc3545;;
    background-color: #dc3545;
}


.row {
    display: flex;
    gap: 10px;
}
  
.column {
flex: 50%;
justify-content: space-between; 
}